body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%; 
  margin: 0; 
  padding: 0;
}

a {
  color: #00B7FF;
}

html { 
    height: 95% 
}

.center {
    text-align: center;
}
.right {
    text-align: right;
}

.space-under-20
{
    margin-bottom: 20px;
}

.margin-20
{
    margin: 20px;
}

.display-none {
    display: none;
}

.no-margin-left
{
    margin-left: 0;
}

.no-margin-right
{
    margin-right: 0;
}

.no-padding-left
{
    padding-left: 0;
}

.no-padding-right
{
    padding-right: 0;
}

.no-margin
{
    margin: 0;
}

.no-padding
{
    padding: 0;
}

.alert-danger
{
    color: #a94442;
}

.popup{
    background-color: #272B30;
    color: #C8C8C8;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 10px;
    box-shadow: 1px 1px 12px #555;
    z-index: 20;
    position: absolute;
    padding: 30px;
    display: none;
    top: 15%;
}

.div-infos { 
  width:auto;
  margin:0 10px; /* espacement horizontal des blocs */
  display:inline-block;
  vertical-align:middle;
  text-align:left; /* on rétablit l'alignement du texte */
}

/**********************************
    ID
***********************************/
#park-loader
{
    float:right;
}

#div_infos_player
{
        float:right; 
}

#player-photo img
{
    height: 50px;
    width: auto;
}

#loader-init-ui
{
    position: absolute;
   /* padding: 30px;
    top: 15%;*/
}
#loader-init-ui img
{
	margin-right:auto;
	margin-left:auto;
}

#map-canvas { 
    height: 100% 
}

#contact-required
{
    font-size: 9px;
    font-style: italic;
}

#contact-message
{
    resize: none;
}

/* DEV */
.dev-1
{
    background-color: red;
}
.dev-2
{
    background-color: yellow;
}
.dev-3
{
    background-color: blue;
}
.dev-4
{
    background-color: green;
}
.dev-5
{
    background-color: pink;
}
.dev-6
{
    background-color: maroon;
}